
    <div class="container-fuild" id="homepage_video">
             <div class="container">     
              <div class="bg"></div>
              <div class="games">
                <span>Games</span>
              </div>
            </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" >

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <video autoplay loop="loop" preload="auto" class="photo">
              <source src="http://media.blizzard.com/sc2/legacy-of-the-void/videos/header_bg.mp4" type='video/mp4'>
              <source src="http://media.blizzard.com/sc2/legacy-of-the-void/videos/header_bg.webm" type='video/webm'>
              </video>

            </div>

            <div class="item">
               <video autoplay loop="loop" preload="auto" class="photo">
              <source src="http://media.blizzard.com/wow/legion-6a153ad2/videos/header-illidan.webm" type='video/webm'>
              </video>

            </div>
          
            <div class="item">
               <video autoplay loop="loop" preload="auto" class="photo">
              <source src="http://media.blizzard.com/d3/media/videos/reaper-of-souls/bg/malthael.mp4" type='video/mp4'>
              <source src="http://media.blizzard.com/d3/media/videos/reaper-of-souls/bg/malthael.webm" type='video/webm'>
              </video>
            </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="height:80px; width:50px;margin: auto;background-color:#010d16; border-radius:5px;">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:#00FFFF;"></span>

                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"  style="height:80px; width:50px;margin: auto;background-color:#010d16;border-radius:5px;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#00FFFF;"></span>

                </a>
          </div>
        </div>
    </div>
